anaconda-client==1.7.2
anaconda-navigator==1.9.7
anaconda-project==0.8.3
beautifulsoup4==4.8.0
conda==4.7.12
conda-build==3.18.9
conda-package-handling==1.6.0
conda-verify==3.4.2
Flask==1.1.1
numpy==1.20.1
pandas==0.25.1
pytest==5.2.1
scikit-image==0.15.0
scikit-learn==0.24.1
scipy==1.6.1
seaborn==0.9.0
tensorflow==1.14.0
tqdm==4.36.1
